@model ServisPeter.Models.Stroje

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:darkslategrey;font-size:40px; font-weight:bold;">Detaily náradia</h1>
<p style="text-align: justify; font-family:Times New Roman; font-size:25px;" Tu je zobrazený detail náradia, ktorý máš v dielni. </p>  <br />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poznamky)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poznamky)
        </dd>
    </dl>
</div>

<div>
    <form asp-action="Edit" asp-route-id="@Model.ID">
        <p>
            <input type="submit" value="Upraviť" class="btn btn-primary" />
        </p>

    </form>

    <form asp-controller="Strojes" asp-action="Index">
        <p>
            <input type="submit" value="Späť" class="btn btn-default" />
        </p>
    </form>
</div>